/*@font-face {
  font-family: "Roboto";
  src: url('src\html\Roboto\Roboto-BlackItalic.ttf') format('Black Italic'),
       url('src\html\Roboto\Roboto-Bold.ttf') format('Bold'),
       url('src\html\Roboto\Roboto-BoldItalic.ttf') format('Bold Italic'),
       url('src\html\Roboto\Roboto-Italic.ttf') format('Italic'),
       url('src\html\Roboto\Roboto-Light.ttf') format('light'),
       url('src\html\Roboto\Roboto-LightItalic.ttf') format('light Italic'),
       url('src\html\Roboto\Roboto-Medium.ttf') format('medium'),
       url('src\html\Roboto\Roboto-MediumItalic.ttf') format('medium Italic'),
       url('src\html\Roboto\Roboto-Regular.ttf') format('regular'),
       url('src\html\Roboto\Roboto-Thin.ttf') format('thin'),
       url('src\html\Roboto\Roboto-ThinItalic.ttf') format('thin Italic'),
       url('src\html\Roboto\Roboto-Black.ttf') format('Black');
}*/

$color-1: #6495ED;
$color-2: #70E4EF;
$color-3: #272727;
$color-4: #BFBCB0;
$color-5: #867595;
$color-6: #F5F5F5;

// USAGE
body {
  font-family: 'Roboto', Arial, sans-serif; 
  padding: 25px;
  background-color: $color-5;
  color: $color-3;
  font-size: 25px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

#navbar {
  width: 70%;
  min-height: 10%;
  background-color: $color-5;
  margin-left: auto;
  margin-right: auto;
}

#top {
  width: 100%;
  height: 2%;
  background-color: $color-1;
  background-position: top;
}

#menu {
  width: 100%;
  height: 1%;
  background-color: $color-2;
  text-align: center;
}

#content {
  width: 100%;
  background-color: $color-5;
}

/* unvisited link */
a:link {
  color: $color-3;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: $color-3;
}

/* mouse over link */
a:hover {
  color: gray;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: yellow;
}

/*This is for cool navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color-2;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f05d5e;
}

li a.active {
  color: white;
  background-color: #ee4444;
}