@font-face {
  font-family: Roboto;
  src: url(src\Roboto\Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(src\Roboto\Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(src\Roboto\Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(src\Roboto\Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(src\Roboto\Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(src\Roboto\Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(src\Roboto\Roboto-Thin.ttf);
  font-weight: 100;
}

// VARIABLES

$color-1: #6495ED;
$color-2: #70E4EF;
$color-3: #272727;
$color-4: #BFBCB0;
$color-5: #867595;
$color-6: #F5F5F5;

// USAGE
body {
  font-family: 'Roboto';
  padding: 25px;
  background-color: $color-6;
  color: $color-3;
  font-size: 25px;
}

h1 {
  font-family: sans-serif, serif;
  font-weight: 900;
}

#navbar {
  width: 70%;
  min-height: 10%;
  background-color: $color-6;
  margin-left: auto;
  margin-right: auto;
}

#top {
  width: 100%;
  height: 2%;
  background-color: $color-1;
  background-position: top;
}

#menu {
  width: 100%;
  height: 1%;
  background-color: $color-2;
  text-align: center;
}

#content {
  width: 100%;
  background-color: $color-6;
}

/* unvisited link */
a:link {
  color: $color-3;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: $color-3;
}

/* mouse over link */
a:hover {
  color: gray;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: yellow;
}

ul {
  list-style-type: circle;
}

.button1 {background-color: $color-2;}
.button2 {background-color: $color-1;}